# 忽略配置文件，防止敏感信息洩露
configs/

# 忽略數據文件，除非需要共享
src/winlogbeat.ndjson

# 忽略日誌文件
logs/

# 忽略壓縮包和臨時文件
tools/*.tar.gz
tools/*.zip

# 忽略 Jupyter Notebook 的輸出內容（可選）
src/*.ipynb

# 忽略服務相關的臨時文件
kibana_server/
filebeat/

# 忽略虛擬環境文件夾（如果有）
myenv/
.env/

# 忽略編譯文件
*.pyc
__pycache__/
